extends layout

block content
    h1= title
    h2= category.name
    console.lof(items_in_category)
    if items_in_category.length 
        p #[strong Delete the following items before attempting to delete this category.]
        div(style='margin-left:20px;margin-top:20px')
            h3 Items 
            dl 
                each item in items_in_category 
                    dt
                        a(href=item.url) #{item.name}
                    dd #{item.description}
                    
    else 
        p Do you really want to delete this Category?
        form(method='POST')
            div.form-group
                div(class="mb-3 password-input-group")
                    label(for="adminpassword" class="form-label") Enter admin password: 
                    input(class="form-control form-control-lg" type="password" placeholder="Admin password to delete or update data" aria-label="password to delete or update brand" id="adminpassword" name="adminpassword" required )
                input#categoryid.form-control(type='hidden', name='categoryid', value=category._id)
                button.btn.btn-primary(type='submit') Delete Category
        if errors 
            div(style='margin-left:20px;margin-top:20px')
            h3 Error
            each error in errors 
                p(class="error-text" style="color:red;") #{error}
